name: Build & Deploy (Blood For BD Backend)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-project:
    runs-on: ubuntu-latest

    steps:
      - name: copying the codes
        uses: actions/checkout@v6

      - name: install node js
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0

      - name: install dependencies
        run: npm install

      - name: build the project
        run: npm run build

  deploy-project:
    runs-on: ubuntu-latest
    needs: build-project
    steps:
      - name: Deploy project
        run: echo "Project deploying..."
