name: Deploy on EC2 (Blood For BD Backend)
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: npm run build

  deploy-project:
    runs-on: ubuntu-latest
    needs: build-project
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: npm run build
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: DATABASE_URL,JWT_ACCESS_TOKEN_SECRET,JWT_REFRESH_TOKEN_SECRET,PORT,NODE_ENV,JWT_ACCESS_TOKEN_EXPIRES_IN,JWT_REFRESH_TOKEN_EXPIRES_IN
          script: |
            cd /home/ubuntu/applications/blood-for-bd-backend
            git pull origin main
            npm install
            npm run build
            pm2 delete "blood-for-bd-backend" || true
            pm2 start ./dist/server.js --name "blood-for-bd-backend"
            pm2 save
