name: Deploy on EC2 (Blood For BD Backend)
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: npm run build

  deploy-project:
    runs-on: ubuntu-latest
    needs: build-project
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: npm run build
      - name: Configure SSH
        env:
          EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "${EC2_SSH_KEY}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy to EC2
        env:
          EC2_HOST: ${{ secrets.EC2_HOST }}
          EC2_USER: ${{ secrets.EC2_USER }}

          NODE_ENV: ${{ secrets.NODE_ENV }}
          PORT: ${{ secrets.PORT }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          JWT_ACCESS_TOKEN_SECRET: ${{ secrets.JWT_ACCESS_TOKEN_SECRET }}
          JWT_ACCESS_TOKEN_EXPIRES_IN: ${{ secrets.JWT_ACCESS_TOKEN_EXPIRES_IN }}
          JWT_REFRESH_TOKEN_SECRET: ${{ secrets.JWT_REFRESH_TOKEN_SECRET }}
          JWT_REFRESH_TOKEN_EXPIRES_IN: ${{ secrets.JWT_REFRESH_TOKEN_EXPIRES_IN }}

        run: |
          rsync -avz --delete \
            --exclude ".git" \
            --exclude "node_modules" \
            ./ $EC2_USER@$EC2_HOST:/home/ubuntu/applications/blood-for-bd-backend

          ssh $EC2_USER@$EC2_HOST << EOF
            cd /home/ubuntu/applications/blood-for-bd-backend

            echo "NODE_ENV=$NODE_ENV" > .env
            echo "PORT=$PORT" >> .env
            echo "DATABASE_URL=$DATABASE_URL" >> .env
            echo "JWT_ACCESS_TOKEN_SECRET=$JWT_ACCESS_TOKEN_SECRET" >> .env
            echo "JWT_ACCESS_TOKEN_EXPIRES_IN=$JWT_ACCESS_TOKEN_EXPIRES_IN" >> .env
            echo "JWT_REFRESH_TOKEN_SECRET=$JWT_REFRESH_TOKEN_SECRET" >> .env
            echo "JWT_REFRESH_TOKEN_EXPIRES_IN=$JWT_REFRESH_TOKEN_EXPIRES_IN" >> .env

            npm ci --omit=dev

            pm2 reload blood-for-bd-backend || pm2 start ecosystem.config.cjs --env production

            pm2 save
          EOF
