name: Deploy on EC2 (Blood For BD Backend)
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build-project:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: npm run build

  deploy-project:
    runs-on: ubuntu-latest
    needs: build-project
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Setup Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.0
          cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - name: Build Project
        run: npm run build
      - name: Configure SSH
        env:
          EC2_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "${EC2_SSH_KEY}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts
      - name: Deploy to EC2
        env:
          EC2_USER: ${{ secrets.EC2_USER }}
          EC2_HOST: ${{ secrets.EC2_HOST }}

          NODE_ENV: ${{ secrets.NODE_ENV }}
          PORT: ${{ secrets.PORT }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          JWT_ACCESS_TOKEN_SECRET: ${{ secrets.JWT_ACCESS_TOKEN_SECRET }}
          JWT_ACCESS_TOKEN_EXPIRES_IN: ${{ secrets.JWT_ACCESS_TOKEN_EXPIRES_IN }}
          JWT_REFRESH_TOKEN_SECRET: ${{ secrets.JWT_REFRESH_TOKEN_SECRET }}
          JWT_REFRESH_TOKEN_EXPIRES_IN: ${{ secrets.JWT_REFRESH_TOKEN_EXPIRES_IN }}

        run: |
          ssh $EC2_USER@$EC2_HOST "mkdir -p ~/applications"

          rsync -avz --delete \
            --exclude ".git" \
            --exclude ".github" \
            --exclude "node_modules" \
            ./ $EC2_USER@$EC2_HOST:/home/ubuntu/applications/blood-for-bd-backend

          # Create .env file on EC2 from GitHub Secrets
          ssh $EC2_USER@$EC2_HOST "cat > /home/ubuntu/applications/blood-for-bd-backend/.env <<EOF
          NODE_ENV=$NODE_ENV
          PORT=$PORT
          DATABASE_URL=$DATABASE_URL
          JWT_ACCESS_TOKEN_SECRET=$JWT_ACCESS_TOKEN_SECRET
          JWT_ACCESS_TOKEN_EXPIRES_IN=$JWT_ACCESS_TOKEN_EXPIRES_IN
          JWT_REFRESH_TOKEN_SECRET=$JWT_REFRESH_TOKEN_SECRET
          JWT_REFRESH_TOKEN_EXPIRES_IN=$JWT_REFRESH_TOKEN_EXPIRES_IN
          EOF"

          # Install production dependencies
          ssh $EC2_USER@$EC2_HOST "cd /home/ubuntu/applications/blood-for-bd-backend && export PATH=$PATH:/run/user/1000/fnm_multishells/23900_1770200077847/bin && npm install"

          # Stop existing PM2 process if exists
          ssh $EC2_USER@$EC2_HOST "export PATH=$PATH:/run/user/1000/fnm_multishells/23900_1770200077847/bin && pm2 delete blood-for-bd-backend || true"

          # Start application with PM2 using .env
          ssh $EC2_USER@$EC2_HOST "export PATH=$PATH:/run/user/1000/fnm_multishells/23900_1770200077847/bin && cd /home/ubuntu/applications/blood-for-bd-backend && pm2 start dist/server.js --name blood-for-bd-backend --env production"
